In [2]:
import pyspark
from pyspark.sql import SparkSession
#and import struct types and data types
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,FloatType
spark_app = SparkSession.builder.appName('sparkdemo').getOrCreate()

# ------create student data with 5 rows and 6 attributes------
students =[['001','john',23,5.79,67,'NY'], ['002','James',18,3.79,34,'NY'], ['003','Eric',17,2.79,17,'NJ'],
               ['004','Shahparan',19,3.69,28,'NJ'],['005','Flex',37,5.59,54,'Dallas']]

#----------define the StructType and StructFields-------
#for the below column names
schema=StructType([
    StructField("rollno",StringType(),True),
    StructField("name",StringType(),True),
    StructField("age",IntegerType(),True),
    StructField("height", FloatType(), True),
    StructField("weight", IntegerType(), True),
    StructField("address", StringType(), True)  ])
 
#-----create the dataframe and add schema to the dataframe---
df = spark_app.createDataFrame(students, schema=schema)
df.show()

+------+---------+---+------+------+-------+
|rollno|     name|age|height|weight|address|
+------+---------+---+------+------+-------+
|   001|     john| 23|  5.79|    67|     NY|
|   002|    James| 18|  3.79|    34|     NY|
|   003|     Eric| 17|  2.79|    17|     NJ|
|   004|Shahparan| 19|  3.69|    28|     NJ|
|   005|     Flex| 37|  5.59|    54| Dallas|
+------+---------+---+------+------+-------+

In [4]:
df.schema

StructType([StructField('rollno', StringType(), True), StructField('name', StringType(), True), StructField('age', IntegerType(), True), StructField('height', FloatType(), True), StructField('weight', IntegerType(), True), StructField('address', StringType(), True)])

In [5]:
df.schema.fields

[StructField('rollno', StringType(), True),
 StructField('name', StringType(), True),
 StructField('age', IntegerType(), True),
 StructField('height', FloatType(), True),
 StructField('weight', IntegerType(), True),
 StructField('address', StringType(), True)]

in form of tree

In [6]:
df.printSchema()

root
 |-- rollno: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- height: float (nullable = true)
 |-- weight: integer (nullable = true)
 |-- address: string (nullable = true)

exercise 2

In [ ]:
#create the dataframe and add schema to the dataframe
df = spark_app.createDataFrame(students, schema=schema)

# display the schema
print(df.schema)

In [ ]:
#adding columns
df=df.withColumn("exp after 2 year",df['experience']+2)

In [ ]:
#drop the column
df.na.drop('experience')

In [ ]:
#handling missing values
#drop rows, columns
#drop na values
# #cal mean,avg
df.drop('columns')
#any==how
df.drop(how='all').show()
# drop when only all of the row is null
#threshold means not null values, here if 2 not null values
df.na.drop(how='all',thresh=2).show()

#subset ,, delete all null values from that particular columns
df.na.drop(how='all',subset=['experience']).show()

In [ ]:
#fill missing value
#replce na with missing value
df.na.fill('missing value')
#replace particular columns
df.na.fill('missing value',['experience','age']).show()

In [ ]:
from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['age','experince','salary']
outputCol=().setStrategy('mean')

In [ ]:
#filter operation &,!,==
df.filter('salary<=2000').select([age,exp]).show

In [ ]:
#groupby,aggregate
#name,department,salary in df
#maxof salary from particular name, groupby works with aggregate funct
df.groupBy('name').sum.show()
#grp by department which has max salary
df.groupBy('department').sum().show()
#mean
df.groupBy('department').mean().show()
#count of emp in dept
df.groupBy('department').count().show()
#direct aggregate funct
df.agg({'salary':sum}).show()
#person getting max salary
df.groupBy('name').max.show()

https://spark.apache.org/examples.html